@import url('https://fonts.googleapis.com/css2?family=Almendra+SC&family=Courgette&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Almendra+SC&family=Courgette&family=Merienda:wght@300..900&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Satisfy&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html,
body {
    background-color: hsl(0, 0%, 100%);
    min-width: 375px;
}

body {
    width:20px;
}

.img {
    width: 375px;
}

.textcontainer {
    padding:30px;
}

.description, .list {
    font-size: 12px;
    font-family: "Merienda", cursive;
    line-height:20px;
}

.list {
    padding-left:20px;
}

ul {
    list-style: none;
}

ul li::before {
    content: '•';
    color: brown;
    margin-right: 0.5em;
    font-size: 30px;
}

.courgette-regular {
    font-family: "Courgette", cursive;
    font-weight: 400;
    font-style: normal;
}

.merienda-uniquifier {
    font-family: "Merienda", cursive;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
}

